$font-stack: Ubuntu, Light, Regular
$blue: #2e8c9b
$green: #689936
$pink: #e52d7a
$white: #f9faef

body
  font-family: $font-stack
  background-color: #f9faef

h1
  color: $blue

p
  color: $green
ul
  color: $pink
